body
{
    margin:0px;
    font:"Microsoft Yahei";
}

.header
{
    height: 80px;
    border-bottom: 1px solid #eee;
    position: fixed;
    top:0px;
    width: 100%;
    background-color: rgba(255,255,255,0.8);
    z-index: 9;
}

.header:hover
{
    background-color: rgba(255,255,255,1);
}

.container
{
    max-width: 800px;
    /*border: 1px solid red;*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.feeds
{
    min-height: 1200px;
    padding: 0px;
}

ul.feeds > li
{
    display: block;
    border-bottom: 1px dashed #eee;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    position: relative;
}

.avater
{
    position: absolute;
    top: 20px;
    left: 20px;
}

.content
{
    color: #888;
}

.footer
{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-right: 20px;
    width: 100px;
    height: 30px;
    border: 1px solid #eee;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
    color: #18bc9c;
    line-height: 30px;
}

.footer .bottom-avater
{
    width: 24px;
    border-radius: 50%;
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.clearfix
{
    clear: both;    
}

.logo
{
    font-size: 36px;
    color:#18bc9c;
    margin-left: 120px;
    margin-top: 20px;
}

.menu
{
    padding: 0px;
    margin: 0px;
    margin-right: 40px;
    margin-top: 40px;
}
.menu li
{
    display: inline-block;
    font-size: 20px;
    margin-right: 10px;
}

.menu li:last-child
{
    margin-right: 0px;
}

.menubox
{
    height:80px;
}

a
{
    text-decoration: none;
}

a:link
{
    color: #18bc9c;
}

a:hover
{
    /*text-decoration: underline;*/
    color: #056b57;
}

li.active a
{
    border-bottom: 2px solid #18bc9c;
    padding-bottom: 5px;
}

.actionbar
{
    color: gray;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 12px;
}


.actionbar .feed-action
{
    padding: 0px;
}

.actionbar .feed-action > li
{
    display: inline-block;
    margin-right: 10px;
}

.feed{
    max-width: 500px;
    word-wrap: break-word;
}

.actionbar .feed-action > li a:link
{
    color: gray;
}

.actionbar .feed-action > li a:hover
{
    color:#18bc9c
}
